USE [master]
GO
/****** Object:  Database [ILS_DocZ]    Script Date: 1/11/2018 2:22:30 PM ******/
CREATE DATABASE [ILS_DocZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ILS_DocZ', FILENAME = N'D:\SQL_DATA\ILS_DocZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ILS_DocZ_log', FILENAME = N'D:\SQL_DATA\ILS_DocZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ILS_DocZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ILS_DocZ]
GO
/****** Object:  User [SQL_User]    Script Date: 1/11/2018 2:22:30 PM ******/
CREATE USER [SQL_User] FOR LOGIN [SQL_User] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SQL_User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SQL_User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SQL_User]
GO
/****** Object:  Table [dbo].[tblDevices]    Script Date: 1/11/2018 2:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDevices](
	[docZ_DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[zzzDevice_ID] [nvarchar](50) NULL,
	[Device_MAC] [nvarchar](50) NULL,
	[Device_Brand] [nvarchar](50) NULL,
	[Device_Model] [nvarchar](50) NULL,
	[Device_ScreenSize] [real] NULL,
	[Device_User] [nvarchar](50) NULL,
	[docZ_UserID] [int] NULL,
	[Update_First] [smalldatetime] NULL,
	[Update_Current] [smalldatetime] NULL,
	[TS_Date] [timestamp] NULL,
	[Device_Active] [bit] NULL,
 CONSTRAINT [PK_tblDevices] PRIMARY KEY CLUSTERED 
(
	[docZ_DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocs]    Script Date: 1/11/2018 2:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocs](
	[docZ_DocID] [int] IDENTITY(1,1) NOT NULL,
	[Doc_Name] [nvarchar](50) NULL,
	[Doc_Path] [nvarchar](255) NULL,
	[Doc_Description] [nvarchar](max) NULL,
	[TS_Date] [timestamp] NULL,
	[Doc_Active] [bit] NULL,
 CONSTRAINT [PK_tblDocs] PRIMARY KEY CLUSTERED 
(
	[docZ_DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJobs]    Script Date: 1/11/2018 2:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJobs](
	[docZ_JobID] [int] IDENTITY(1,1) NOT NULL,
	[TR_Number] [nvarchar](20) NULL,
	[Quote_ID] [int] NULL,
	[Location] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Quote_Entered_Date] [datetime] NULL,
	[Quote_Due_Date] [datetime] NULL,
	[Quote_TotalExclGST] [money] NULL,
	[Quote_Text] [nvarchar](50) NULL,
	[PO_Number] [nvarchar](20) NULL,
	[Notes] [ntext] NULL,
	[TS_Date] [timestamp] NULL,
	[Job_Active] [bit] NULL,
 CONSTRAINT [PK_tblJobs] PRIMARY KEY CLUSTERED 
(
	[docZ_JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLog_F iles]    Script Date: 1/11/2018 2:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLog_F iles](
	[docZ_LogFilesID] [int] IDENTITY(1,1) NOT NULL,
	[docZ_DeviceID] [int] NOT NULL,
	[TS_Date] [timestamp] NULL,
 CONSTRAINT [PK_tblLogF iles] PRIMARY KEY CLUSTERED 
(
	[docZ_LogFilesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLog_Updates]    Script Date: 1/11/2018 2:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLog_Updates](
	[docZ_LogUpdateID] [int] IDENTITY(1,1) NOT NULL,
	[docZ_DeviceID] [int] NOT NULL,
	[Date_Updated] [smalldatetime] NULL,
	[Docs_Removed] [int] NULL,
	[Docs_Added] [int] NULL,
	[Docs_Count] [int] NULL,
	[Docs_TotalSpace_GB] [real] NULL,
	[Update_Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLog_Updates] PRIMARY KEY CLUSTERED 
(
	[docZ_LogUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 1/11/2018 2:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[docZ_UserID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](50) NULL,
	[User_Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[docZ_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDevices] ADD  CONSTRAINT [DF_tblDevices_Doc_Active]  DEFAULT ((1)) FOR [Device_Active]
GO
ALTER TABLE [dbo].[tblDocs] ADD  CONSTRAINT [DF_tblDocs_Job_Active]  DEFAULT ((1)) FOR [Doc_Active]
GO
ALTER TABLE [dbo].[tblJobs] ADD  CONSTRAINT [DF_tblJobs_Quote_TotalExclGST]  DEFAULT ((0)) FOR [Quote_TotalExclGST]
GO
ALTER TABLE [dbo].[tblJobs] ADD  CONSTRAINT [DF_tblJobs_Job_Active]  DEFAULT ((1)) FOR [Job_Active]
GO
USE [master]
GO
